$color-white: #ffffff;
$color-lemon: #ceda00;
$color-lemon-trans: rgba(205, 217, 1, 0.5);
$color-turqueise: #4f8a8d;
$color-grey: #808080;
$color-grey-dark: #4e4e4e;
$color-grey-lighter: #f0f0f0;
$color-grey-light: #cccccc;
$color-grey-trans: rgba(204, 204, 204, 0.5);
$color-ocean: #4ba4a5;

$color-background-default: $color-grey-light;
$color-background-primary: $color-lemon;
$color-background-secondary: $color-grey-lighter;
$color-background-terciary: $color-white;

$color-border-default: $color-grey-light;
$color-border-primary: $color-grey-trans;

$color-text-default: $color-grey-dark;
$color-text-primary-alt: $color-white;
